{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{password.page_name}}" method="POST">
          <div class="form-group">
            <input type="text" name="page_name" value="{{password.page_name}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="destination_url" value="{{password.destination_url}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="encrypted_password" value="{{password.encrypted_password}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}